// CUSTOMISED BOOTSTRAP VARIABLES

$primary: hsl(322, 100%, 66%);
$dark: hsl(192, 100%, 9%);
$light: #fff;

$font-family-base: 'Open Sans', sans-serif;
$body-color: $dark;

$box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

$headings-font-family: 'Poppins', sans-serif;
$headings-font-weight: 600;
$headings-color: $dark;

$btn-font-family: $font-family-base;
$btn-padding-y: 0.7rem;
$btn-padding-x: 2.8rem;
$btn-padding-y-lg: 1.4rem;
$btn-padding-x-lg: 3.8rem;
$btn-border-radius: 40px;

$link-color: #fff;
$link-hover-color: $primary;

// IMPORT BOOTSTRAP

@import "node_modules/bootstrap/scss/bootstrap";

// CUSTOM STYLES

body {
  background-color: hsl(192, 70%, 80%);
}

.btn {
  box-shadow: $box-shadow;
}

//header
.navbar {
  padding-top: 4%;
}

#header-jumbotron {
  padding-top: 14%;
  padding-bottom: 24%;
}

header {
  background: url(images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
}

//cards

.card {
  border: none;
  box-shadow: $box-shadow;
  transition: 0.3s;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card-cta, #card-cta-mobile {
  position: relative;
  bottom: -12vh;
}

//footer

footer {
  padding-top: 20vh;
}
